header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    word-break: break-word;
}